:root {
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #f8f9fa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overscroll-behavior-y: none;
  overflow-x: inherit;
  background-color: var(--color-light--1);
}

/* //////////////////////////////////////////
//// Header */

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 5.6rem;
  background-color: #42484d;
}
.heading--primary {
  align-self: center;
  margin: 0 2rem;
  font-size: 3.2rem;
  color: var(--color-light--2);
}
.search-box {
  align-self: center;
  justify-self: center;
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 6px;
  padding-left: 1.4rem;
  font-size: 1.8rem;
}
/* //////////////////////////////////////////
//// Country tab */

.countries--container {
  max-width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  margin: 4.4rem;
}

.country {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 20px;
  overflow: hidden;
  min-width: 15rem;
  max-width: 25rem;
  transition: all 0.5s;
}

.country.hidden {
  display: none;
  transform: translateY(-10rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.country:hover {
  transform: scale(1.02);
}

.country-flag {
  max-width: 30rem;
}

.country--location {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.country--name {
  font-size: 4.2rem;
  color: var(--color-dark--1);
}

.country--continent {
  font-size: 2.2rem;
}
.country--summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 1.5rem;
}

.country--summary:last-child {
  margin-bottom: 1.5rem;
}

.country--summary-data {
  display: flex;
  gap: 1rem;
  font-size: 1.8rem;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal--button-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  align-self: center;
  justify-content: center;
  font-size: 1.8rem;
  border: none;
  color: var(--color-dark--2);
}

.modal--button-close:hover {
  color: var(--color-dark--1);
}
