:root {
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #f8f9fa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overscroll-behavior-y: none;
  overflow-x: inherit;
  background-color: var(--color-light--1);
}

/* //////////////////////////////////////////
//// Header */

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 5.6rem;
  background-color: var(--color-light--1);
  padding: 2rem;
}
.header--logo {
  display: flex;
  margin: 0 2.4rem;
}
.header--logo-img {
  max-width: 6rem;
}
.heading--primary {
  align-self: center;
  margin: 0 2rem;
  font-size: 3.2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 111, 1) 0%,
    rgba(0, 202, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.search-box {
  align-self: center;
  justify-self: center;
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 6px;
  padding-left: 1.4rem;
  font-size: 1.8rem;
  border: 1px solid var(--color-dark--1);
}
/* //////////////////////////////////////////
//// Country tab */

.countries--container {
  max-width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  margin: 4.4rem;
}

.country {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 20px;
  overflow: hidden;
  min-width: 15rem;
  max-width: 25rem;
  transition: all 0.5s;
}

.country.hidden {
  display: none;
  transform: translateY(-10rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.country:hover {
  transform: scale(1.02);
}

.country-flag {
  max-width: 30rem;
}

.country--location {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.country--name {
  font-size: 4.2rem;
  color: var(--color-dark--1);
}

.country--continent {
  font-size: 2.2rem;
}
.country--summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 1.5rem;
}

.country--summary:last-child {
  margin-bottom: 1.5rem;
}

.country--summary-data {
  display: flex;
  gap: 1rem;
  font-size: 1.8rem;
}

/* //////////////////////////////////////////
//// Modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 120rem;
  background-color: #f3f3f3;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  transition: all 0.5s;
}
.modal--info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding: 0 6rem;
  padding-bottom: 3rem;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal--button-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  align-self: center;
  justify-content: center;
  font-size: 1.8rem;
  border: none;
  color: var(--color-dark--2);
  background-color: none;
}

.modal--button-close:hover {
  color: var(--color-dark--1);
}

.modal--neighboring-container {
  display: grid;
  grid-column: 1fr 1fr;
}

/* //////////////////////////////////////////
//// Modal children */

.modal--header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  gap: 10rem;
  padding: 3.6rem 2.4rem;
  margin-bottom: 1.8rem;
  border-bottom: solid 2px #dee2e6;
}

.heading-secondary {
  font-size: 5.4rem;
  color: var(--color-dark--1);
}

.modal--header-img {
  max-height: 5.4rem;
}

.modal-data-container {
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal--label-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-dark--1);
  grid-column: 1 / 2;
}

.modal--value-text {
  font-weight: 400;
  grid-column: 2 / -1;
}

.modal--neighboring-flags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.modal--neighboring-flags-img {
  cursor: pointer;
  max-height: 2rem;
}
.modal--header-flag-container {
  display: flex;
  gap: 1rem;
}

#map {
  width: 100%;
  height: 100%;
}
.map--container {
  display: flex;
  grid-column: 2;
  grid-row: 1 / 12;
  justify-content: center;
  align-items: center;
}
